doctype transitional
head
  meta(name='viewport' content='width=device-width')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title
style.
  body {
  font-family: Arial, Helvetica, sans-serif;
  }
  a {
  color: #F90000;
  text-decoration: none;
  }
  a:hover {
  color: #ffffff;
  text-decoration: none;
  }
table(align='center' width='100%' border='0' cellpadding='0' cellspacing='0' bgcolor='#fff' style='max-width: 600px; font-size: 13px;')
  tbody
    tr
      td(align='center' style='background: #eff2f8; padding: 25px 10px; font-size: 12px; letter-spacing: 1px; color: #666;')
    tr
      td(style='padding:0 5px; vertical-align: top; text-align: center;')
        p &nbsp;
        h4(style='color: #e6590e; text-align: center; font-size: 18px; margin: 0; line-height: 1; font-weight: normal; letter-spacing: 1px;')
          | Hey!
        h1(style='color: #000; margin: 0; padding: 20px 0 0 0; font-size: 40px; line-height: 1; font-weight: normal; letter-spacing: 1px;')
          | Your pair #{fsym} - #{tsym} !
        p &nbsp;
        p(style='font-size:16px; color: #666; letter-spacing: 1px; padding: 0 30px; line-height: 1.5')
          | Currency for now is #{currency}
        p(style='font-size:16px; color: #666; letter-spacing: 1px; padding: 0 30px; line-height: 1.5')
          | #{type}
        p
          | #{date}
    tr
      td &nbsp;
    tr
      td &nbsp;
    tr
      td &nbsp;
    tr
    tr
      td &nbsp;
    tr
      td &nbsp;
    tr
      td &nbsp;
    tr
      td(align='center' style='background: #eff2f8; padding: 25px 10px; font-size: 12px; letter-spacing: 1px; color: #666;')
        | Copyright @ #{currentYear}. Currency. All Rights Reserved